aiohttp
appdirs
aria2p
bs4
beautifulsoup4
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
httplib2shim
html-telegraph-poster>=0.2.31
js2py
lk21
lxml
messages
megasdkrestclient
natsort
Pillow
progress
progressbar2
Pyrogram
psutil
psycopg2-binary
pytz
python-telegram-bot==12.6.1
python-dotenv
python-magic
pybase64
requests
speedtest-cli
tenacity
TgCrypto
telegraph
yt-dlp
youtube_dl
